
body {
    font-family: 'Lato', sans-serif;
}


h2{
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    letter-spacing: normal;

    @mixin atLarge {
        font-size: 2rem;
        @mixin atLarge {
            font-weight: 500;
        }
    }
}

h3{
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 2.4rem;
    @mixin atLarge {
        font-weight: 500;
    }
}

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

p {
    line-height: 1.5rem;
 
    @mixin atLarge {
    font-size: 1.1rem;
    line-height: 2.2rem;
    }
    
}
body {
    opacity: 1;
    transition: 1.5s opacity;

}

.fade-out {
    opacity: 0;
    transition: none;
}
header {
    width: 100%;
    display: block;
    overflow: hidden;
}



  .parallax {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
  }

  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
  }