.about {
    background-color: $mainBlue;
    color: $mainGray;
    padding: 1.4rem 0 4rem 0;

    img{
        width: 100px;
        margin: 2em auto;
        display: block;
    }

    p {
        text-align: center;
    }
}
