.about {
    background-color: $mainBlue;
    color: $mainGray;
    padding-bottom: 2em;
    
    @mixin atLarge {
    padding: 1.4rem 0 4rem 0;
}
    img{
        width: 80px;
        margin: 2em auto;
        display: block;

        @mixin atLarge {
            width: 100px;
        }
    }

    p {
        text-align: center;
    }
}
