ul {
    list-style: none;
    display: block;
    padding: 0px;
    li {
        
        border-bottom: 2px solid $mainGray;
        padding: 10px;
        a {
            text-decoration: none;
            color: $mainBlue;
            font-weight: 300;
        }

        @mixin atMedium {
            display: inline-block;
            margin-right: 80px;
            border-bottom: none;
        }
    }
}
img{
   width: 100%;
}

nav{
    text-align: center;
    font-size: 1.4rem;
    clear: both;
    padding-top: 25px;

    @mixin atMedium {
        padding-top: 25px;
        float: right;
    }
}

.banner {
    position: relative;
    overflow: hidden;

    @mixin atLarge {
        height: 100vh;
        overflow: hidden;
    }
    &__workstation {
        @mixin atLarge {
            position: absolute;
            bottom: 4rem;
            right: 0;
        }

    }
    &__intro{
        display: block;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 300;
        letter-spacing: 0.1rem;
        line-height: 3.0rem;
        text-align: center;
        margin-top: 4rem;
        margin-bottom: 3rem;

        @mixin atSmall {
            font-size: 3.0rem;
            line-height: 4.0rem;
        }

        @mixin atMedium {
            font-size: 3.2rem;
            text-align: left;
        }
        @mixin atLarge{
            font-size: 3.6rem;
            letter-spacing: 0.2rem;
            line-height: 5.4rem;
            margin: 0;
            padding: 2rem 0;
        }
    }


    &__blueText {
        color: $mainBlue;
    }

    &__orgText{
        color: $mainOrange;
    }
}

.menu-icon{
    width: 20px;
    height: 19px;
    position: absolute;
    top: 10px;
    right: 20px;
    display: block;
    clear: both;
    margin-top: 20px;
    
    @mixin atMedium {
        display: none;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: $mainBlue;
    }

    &__middle {
        position: absolute;
        top: 8px;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: $mainBlue;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: $mainBlue;
    }
}

.menu-content {
    display: none;

    @mixin atMedium {
        display: block;
    }
}

.visible {
    display: block;
}