ul {
    list-style: none;
    display: block;
    padding: 0px;
    li {
        
        border-bottom: 2px solid $mainGray;
        padding: 10px;
        a {
            text-decoration: none;
            color: $mainBlue;
            font-weight: 300;

            @mixin atLarge {
                font-weight: 500;
            }
        }

        @mixin atMedium {
            display: inline-block;
            margin-right: 80px;
            border-bottom: none;
        }

    }
}


nav{
    text-align: center;
    font-size: 1.4rem;
    clear: both;
    padding-top: 25px;

    @mixin atMedium {
        padding-top: 25px;
        float: right;
    }
    
    @mixin atLarge {
        height: 12vh;
    }
}

.banner {
    overflow: hidden;

    @mixin atLarge {
        height: 100vh;
    }

    &__intro{
        display: block;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 300;
        letter-spacing: 0.1rem;
        line-height: 3.0rem;
        text-align: center;
        height: 200px;
        margin-top: 3rem;
        
        @mixin atSmall {
            font-size: 3.0rem;
            line-height: 4.0rem;
        }

        @mixin atMedium {
            font-size: 3.2rem;
            text-align: left;
        }
        @mixin atLarge{
            position: relative;
            font-size: 3.6rem;
            letter-spacing: 0.2rem;
            line-height: 5.4rem;
            margin: 0;
            font-weight: 500;
            height: 30vh;
        }
    }

    &__text {
        @mixin atLarge {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }

    }

    


    &__blueText {
        color: $mainBlue;
    }

    &__orgText{
        color: $mainOrange;
    }

    &__workstation {

        @mixin atLarge {
            height: 55vh;
            position: relative;
        }
    }

    &__image {
        margin-bottom: 3rem;

        @mixin atLarge {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            height: 45vh;
            width: auto;
            margin: 0;
        }
    }

    
}

.menu-icon{
    width: 20px;
    height: 19px;
    position: absolute;
    top: 10px;
    right: 20px;
    display: block;
    clear: both;
    margin-top: 20px;
    
    @mixin atMedium {
        display: none;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: $mainBlue;
    }

    &__middle {
        position: absolute;
        top: 8px;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: $mainBlue;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: $mainBlue;
    }
}

.menu-content {
    display: none;

    @mixin atMedium {
        display: block;
    }
}

.visible {
    display: block;
}